@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    ViewData["Title"] = "Trang chủ - Hệ thống cửa hàng thời trang Phụ Nữ Việt Format";
}

<div class="container">
    Giao diện quảng cáo cái gì đó
</div>

