@using RecommendProductsCustomers.Models;
@{
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";
    ViewData["Title"] = "Format - Sản phẩm";
    var productList = ViewData["listProduct"] as List<ProductModel>;
    var totalPages = (int)ViewData["totalPages"];
}

<style>
    .height {
        height: 100vh;
    }

    .form {
        position: relative;
    }

    .form .fa-search {
        position: absolute;
        top: 16px;
        left: 20px;
        color: #9ca3af;
    }

    .form span {
        position: absolute;
        right: 17px;
        top: 13px;
        padding: 2px;
        border-left: 1px solid #d1d5db;
    }

    .left-pan {
        padding-left: 7px;
    }

    .left-pan i {
        padding-left: 10px;
    }

    .form-input {
        margin-top: 4px;
        height: 46px;
        text-indent: 33px;
        border-radius: 10px;
    }

    .form-input:focus {
        box-shadow: #d1d5db;
    }
</style>
<link href="~/css/col-2dot4.css" rel="stylesheet" />
<!-- Page Content -->
<!-- Items Starts Here -->
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Danh sách sản phẩm</h1>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="form">
                    <i class="fa fa-search"></i>
                    <input id="search" type="text" class="form-control form-input" placeholder="Tìm kiếm...">
                    <span class="left-pan"><i class="fa fa-microphone"></i></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">Tất cả</button>
                    <button class="btn btn-primary" data-filter=".new">Mới về</button>
                    <button class="btn btn-primary" data-filter=".low">Đề xuất</button>
                    <button class="btn btn-primary" data-filter=".low">Giá giảm</button>
                    <button class="btn btn-primary" data-filter=".high">Giá tăng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contentProduct" class="featured container no-gutter">
    <div class="row posts">
        @if(productList != null)
        {
            foreach(var item in productList)
            {
                <div id="@item?.id" class="item new col-2dot4">
                    <a href="single-product.html">
                        <div class="featured-item">
                            <img src="@item?.images[0]" height="300" />
                            <h4>@item?.name</h4>
                            <h6>@String.Format("{0:N0}", item?.price) đ</h6>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

<div class="page-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    @for (int index = 1; index <= totalPages; index++)
                    {
                        if(index == 1)
                        {
                            <li class="current-page nav-item">
                                <a href="#">@index</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="#">@index</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".nav-item a").on("click", function (e) {
            e.preventDefault();

            $(".nav-item").removeClass("current-page");
            $(this).parent().addClass("current-page");

            var search = document.getElementById("search").value;;
            var currentPage = document.querySelector(".current-page a").innerHTML

            $.ajax({
                url: "/Home/Products?pKeyword=" + search + "&pPage=" + currentPage,
                method: "GET",
                success: function (data) {
                    var $hiddenContainer = $("<div class='d-none'></div>");
                    $hiddenContainer.html(data);

                    var $newHobbyTable = $hiddenContainer.find("#contentProduct");
                    $("#contentProduct").html($newHobbyTable.html());
                }
            });
        });
    });
</script>

<script>
    var searchInput = document.getElementById("search");
    var timeoutId;

    searchInput.addEventListener("input", function () {
        clearTimeout(timeoutId);

        timeoutId = setTimeout(function () {
            var search = searchInput.value;

            $.ajax({
                url: "/Home/Products?pKeyword=" + search + "&pPage=1",
                method: "GET",
                success: function (data) {
                    var $hiddenContainer = $("<div class='d-none'></div>");
                    $hiddenContainer.html(data);

                    var $newHobbyTable = $hiddenContainer.find("#contentProduct");
                    $("#contentProduct").html($newHobbyTable.html());
                }
            });
        }, 800);
    });

</script>