@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<style>
    button:hover {
        color: aqua;
    }
</style>

<div class="border grid d-flex p-2 align-items-center">
    <div class="col-1">
        <i id="goBackButton" class="fa-solid fa-arrow-left fa-2xl" style="color: #2db5d7;"></i>
    </div>
    <div class="col-8">
        <h3 id="headerContent" class="ps-xxl-5">Trang chủ</h3>
    </div>
    <div class="col-1 text-end">
        <button id="backup" class="d-inline-block border-0 rounded">Sao lưu</button>
    </div>
    <div class="col-1 text-end">
        <button id="restore" class="d-inline-block border-0 rounded">Phục hồi</button>
    </div>
    <div class="col-1 text-end">
        <button id="logout" class="d-inline-block border-0 rounded">Đăng xuất</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#logout").on("click", function (e) {
            e.preventDefault();

            $.ajax({
                url: "/Login/Logout",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    window.location.href = "/Login/Login";
                },
            });
        });

        $("#backup").on("click", function (e) {
            e.preventDefault();

            $.ajax({
                url: "/BackupRestore/Backup",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                },
            });
        });

        $("#restore").on("click", function (e) {
            e.preventDefault();

            $.ajax({
                url: "/BackupRestore/Restore",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                },
            });
        });
    });
</script>