@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<style>
    button:hover {
        color: aqua;
    }
</style>

<div class="border grid d-flex p-2 align-items-center">
    <div class="col-9">
        <h3 id="headerContent" class="ps-xxl-5">Trang chủ</h3>
    </div>
    <div class="col-3 text-end">
        <button class="d-inline-block border-0">Đăng xuất</button>
    </div>
</div>